{% load static %}
<section id="clients" class="clients section-bg">
    <div class="container" data-aos="zoom-in">

      <div class="row">

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <p>LOGO DE PARCEIROS / CLIENTES</p>
        </div>
        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <p>LOGO DE PARCEIROS / CLIENTES</p>
        </div>
        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <p>LOGO DE PARCEIROS / CLIENTES</p>
        </div>
        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <p>LOGO DE PARCEIROS / CLIENTES</p>
        </div>
        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <p>LOGO DE PARCEIROS / CLIENTES</p>
        </div>
        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <p>LOGO DE PARCEIROS / CLIENTES</p>
        </div>
      </div>

    </div>
  </section>
