{% load static %}


<section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-gem"></i>
            <span>+29</span>
            <p>Anos de mercado</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="bi bi-archive"></i>
            <span>+100</span>
	    <!-- 
	    <span data-purecounter-start="0" data-purecounter-end="+100" data-purecounter-duration="1" class="purecounter"></span>
	    -->
            <p>Toneladas de produtos</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
	  <i class="bi bi-house-door"></i>
	  <span>+350</span>
	  <!--
            <span data-purecounter-start="0" data-purecounter-end="+350" data-purecounter-duration="1" class="purecounter"></span>
	  -->
            <p>Obras e projetos</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
	    <span>+10000</span>
	    <!--
            <span data-purecounter-start="0" data-purecounter-end="+10000" data-purecounter-duration="1" class="purecounter"></span>
	    -->
            <p>Clientes satisfeitos</p>
          </div>
        </div>

      </div>

    </div>
  </section>
