{% load static %}

<section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
              <h3>Nome do Cliente</h3>
              <h4>Breve &amp; Descrição </h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Texto do depoimento
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
              <h3>Nome do Cliente</h3>
              <h4>Breve &amp; Descrição </h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Texto do depoimento
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
              <h3>Nome do Cliente</h3>
              <h4>Breve &amp; Descrição </h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Texto do depoimento
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>
    </div>    
    
</section>