    {% load static %}

    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up" style="margin-top: 100px;">
  
          <div class="section-title">
            <h2>Sobre</h2>
          </div>
  
          <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
              <img src="{% static 'img/sobre.jpeg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>Um pouco da nossa história</h3>
              <p class="fst-italic">
                Fundada em 11 de Fevereiro de 1993, a  <strong>Pedreira Morro Azul</strong> é, atualmente, uma das maiores da região e é responsável pela produção das seguintes 
                pedras: rachão, brita 0, brita 1, brita corrida, brita graduada simples e pó de pedra. Nossa localização é privilegiada, isso porque está situada na RJ-158, 
                que interliga São Fidélis a Campos dos Goytacazes. A  <strong>Morro Azul</strong>, possui frota própria, para garantir melhor qualidade e agilidade na entrega! 
                <br><br> Somos uma empresa que se preocupa com a qualidade, tanto de nossos produtos, quanto ao atendimento aos clientes! 
                Não deixamos de lado a questão ambiental, a <strong>Pedreira Morro Azul</strong> conta com áreas de preservação permanentes em seu território.  
              </p>
            </div>
          </div>
  
        </div>
      </section>