{% extends 'base.html' %}
{% load bootstrap_icons %}
{% load bootstrap5 %}
{% block content_title %}{{ cliente.nome }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p><strong>Telefone:</strong> {{ cliente.telefone }}</p>
            </div>
            <div class="col">
                <p><strong>Data de Nascimento:</strong> {{ cliente.data_nascimento|date:"SHORT_DATE_FORMAT" }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>Endereço:</strong> {{ cliente.endereco }} - {{ cliente.bairro }}</p>
            </div>
            <div class="col">
                <p><strong>Cidade:</strong> {{ cliente.cidade }} / {{ cliente.estado }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <br>
        <h5>Notas Fiscais</h5>
        {% if cliente.notafiscal_set.exists %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Número</th>
                    <th scope="col">Pontos</th>
                </tr>
                </thead>
                <tbody>
                {% for nota_fiscal in cliente.notafiscal_set.all %}
                    <tr>
                        <td>
                            <a class='text-reset text-decoration-none' href="{{ nota_fiscal.get_absolute_url }}">{% bs_icon 'info-square'%}</a>
                        </td>
                        <td>{{ nota_fiscal.numero }}</td>
                        <td>{{ nota_fiscal.pontuacao_cliente }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">Total</td>
                        <td>{{ cliente.get_pontuacao_total }}</td>
                    </tr>
                </tfoot>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Não existem notas fiscais cadastradas para esse cliente.
            </div>
        {% endif %}
    </div>
    <div class="container">
        <br>
        <h5>Pedidos</h5>
        {% if cliente.usuario.pedido_set.exists %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Benefício</th>
                    <th scope="col">Data</th>
                    <th scope="col">Pontos</th>
                </tr>
                </thead>
                <tbody>
                {% for pedido in cliente.usuario.pedido_set.all %}
                    <tr>
                        <td>
                            <a class='text-reset text-decoration-none' href="{{ pedido.get_absolute_url }}">{% bs_icon 'info-square'%}</a>
                        </td>
                        <td>{{ pedido.beneficio }}</td>
                        <td>{{ pedido.data }}</td>
                        <td>{{ pedido.pontos }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total</td>
                        <td>{{ cliente.usuario.pontos_gastos }}</td>
                    </tr>
                </tfoot>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Não existem pedidos cadastrados para este usuário.
            </div>
        {% endif %}
    </div>

{% endblock %}