{% extends 'base.html' %}
{% load bootstrap_icons %}
{% load bootstrap5 %}
{% block content_title %}{{ transportador.nome }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p><strong>Telefone:</strong> {{ transportador.telefone }}</p>
            </div>
            <div class="col">
                <p><strong>Data de Nascimento:</strong> {{ transportador.data_nascimento|date:"SHORT_DATE_FORMAT" }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>Endereço:</strong> {{ transportador.endereco }} - {{ transportador.bairro }}</p>
            </div>
            <div class="col">
                <p><strong>Cidade:</strong> {{ transportador.cidade }} / {{ transportador.estado }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <br>
        <h5>Notas Fiscais</h5>
        {% if transportador.notafiscal_set.exists %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Número</th>
                    <th scope="col">Pontos</th>
                </tr>
                </thead>
                <tbody>
                {% for nota_fiscal in transportador.notafiscal_set.all %}
                    <tr>
                        <td>
                            <a class='text-reset text-decoration-none' href="{{ nota_fiscal.get_absolute_url }}">{% bs_icon 'info-square'%}</a>
                        </td>
                        <td>{{ nota_fiscal.numero }}</td>
                        <td>{{ nota_fiscal.pontuacao_transportador }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Não existem notas fiscais cadastradas para esse transportador.
            </div>
        {% endif %}
    </div>
    <div class="container">
        <br>
        <h5>Pedidos</h5>
        {% if transportador.usuario.pedido_set.exists %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Benefício</th>
                    <th scope="col">Data</th>
                    <th scope="col">Situação</th>
                    <th scope="col">Pontos</th>
                </tr>
                </thead>
                <tbody>
                {% for pedido in transportador.usuario.pedido_set.all %}
                    <tr>
                        <td>
                            <a class='text-reset text-decoration-none' href="{{ pedido.get_absolute_url }}">{% bs_icon 'info-square'%}</a>
                        </td>
                        <td>{{ pedido.beneficio }}</td>
                        <td>{{ pedido.data }}</td>
                        <td><span class="badge bg-{{ pedido.get_status_formatado.0 }}">{{ pedido.get_status_formatado.1 }}</span></td>
                        <td>
                            {% if pedido.cancelado %}
                                <del>{{ pedido.pontos }}</del>
                            {% else %}
                                {{ pedido.pontos }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4">Total</td>
                    <td>{{ transportador.usuario.pontos_gastos }}</td>
                </tr>
                </tfoot>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Não existem pedidos cadastrados para este usuário.
            </div>
        {% endif %}
    </div>

{% endblock %}